<div class="card individual">
  <h2>User</h2>
  {{#with dataUser}}
  <img src="{{picture}}" alt="Girl in a jacket" width="150" height="150">
  <h2>Nombre de usuario: {{name}}</h2>
  <h2>Email: {{email}}</h2>
  {{/with}}
</div>